<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<script type="text/javascript" src="../static/js/jquery.js"></script>
	<script src="../static/js/jquery-ui.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/HumansAllList.css">
	<title>AboutUs_layout</title>
</head>
<body>
	<div id="Container">

		<!-- THIS IS HEADER -->
		<div id="main">
			<!-- 왜? class랑 id랑 같이 같이 들어간거지? -->
			<div class="FacebookLink"><h1 id="LinkFacebook">FIND US IN FACEBOOK</h1></div>
		</div>

		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">ABOUT US</a></li>
						<li><a href="#">HUMANS</a></li>
						<li><a href="#">AJOU</a></li>
						<li><a href="#">EPILOGUE</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		<!-- END OF HEADER -->

		<div class = "Contents">
			<div class = "AboutUs_title">
				<h1><span>About Us</span></h1>				
			</div>

			<div class = "AboutUs">
				<div class ="AboutUs_img_area"><img src="../static/images/aboutus_img.png"></div>
				<div class ="AboutUs_text_area">
					<div class ="AboutUs_text">
						<p>휴먼스 오브 아주는<br>
						우리 아주대학교 안에서 숨쉬고 있는 사람들을 담고자 합니다.
						<p>평범하지만 결코 평범하지 않은 사람들.</p>
						<br>
						<br>
						우리가 하고자 하는 역할은, 전 Humans 시리즈를 착안하여, 우리 학교 학생들, 그리고 다른 아주대학교 구성원으로 구성되어 있고, 어떤 모습들을 볼 수 있는 지 소개하고 공감하게 하는 역할입니다.			
					</div>
				</div>

			</div>

			<div class = "Members_title">
				<h1><span>Members</span></h1>여기는 휴먼 오브 아주 멤버를 소개하는 칸입니다.				
			</div>

			<div class = "Members">
				<div class ="Members_img_area">
					<img src="#">
				</div>				
			</div>



			

			


			
			
		</div>

	</div>
</body>
</html>