<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<script type="text/javascript" src="../static/js/jquery.js"></script>
	<script src="../static/js/jquery-ui.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-theme.min.css">
	<link href="../static/css/flat-ui.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/css/HumansAllList.css">
	<link rel="stylesheet" type="text/css" href="../static/css/Ajou.css">
	<title>Ajou_layout</title>
</head>
<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.0";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<div id="Container">

		<!-- THIS IS HEADER -->
		<div id="Main" style="background-image: url(../static/images/IMG_3371.jpg)">
			<div class="MainTitle">
				<div class="Logo">
					<div class="LogoText">HUMANS OF AJOU UNIV</div>
					<div class="LogoSubText">storys beyond the life</div>
				</div>
				<div class="FacebookLink">
					<div class="fb-like" data-href="https://www.facebook.com/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
				<h1 id="LinkFacebook">FIND US IN FACEBOOK</h1></div>
			</div>
		</div>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="#">ABOUT US</a></li>
						<li class="active"><a href="#">HUMANS</a></li>
						<li><a href="#">AJOU</a></li>
						<li><a href="#">EPILOGUE</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		<!-- END OF HEADER -->
		<div class = "Contents">
			<div class="Explain">
				<div class="ExplainHead">
					MENU “AJOU”?
				</div>
				<div class="ExplainBody">
					이 칸은 아주대의 구성원들이 직접 만들어가는 칸입니다. <br>아주대의 멋진 풍경이나, 열광하는 사람들의 모습, 도서관에서 열심히 공부하는 모습 등. 여러분들이 생각하는 아주대의 풍경과 사진을 보내주시면 직접 사진을 올려드립니다. <br>아래 버튼을 눌러서 사진을 보내주세요!
				</div>
				<div class="Uoload">
					<button class="btn btn-info" id="UploadBtn">사진 올리기</button>
				</div>
			</div>
			<div class="Category">카테고리별 보기

				<!-- Split button -->
				<div class="btn-group">

					<button type="button" class="btn btn-default">Action</button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
						<span class="sr-only">Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">ORIGINAL</a></li>
						<li><a href="#">DATE LISTED</a></li>
					</ul>
				</div>
			</div>
			<div class="Month"><h1>August 2014 <span class="post">10post</span></h1>
				<div class="ContentsLeft">
					<div class="Content">
						<img src="../static/images/img1.jpg", class="img">
					</div>
					<div class="Content">
						<img src="../static/images/img5.jpg", class="img">
					</div>
					<div class="Content">
						<img src="../static/images/img8.jpg", class="img">
					</div>
				</div>
				<div class="ContentsCenter">
					<div class="Content">
						<img src="../static/images/img2.jpg", class="img">
					</div>
					<div class="Content">
						<img src="../static/images/img4.jpg", class="img">
					</div>
					<div class="Content">
						<img src="../static/images/img7.jpg", class="img">
					</div>
					<div class="Content">
						<img src="../static/images/img10.jpg", class="img">
					</div>
				</div>
				<div class="ContentsRight">
					<div class="Content">
						<img src="../static/images/img3.jpg", class="img">
					</div>
					<div class="Content">
						<img src="../static/images/img6.jpg", class="img">
					</div>
					<div class="Content">
						<img src="../static/images/img9.jpg", class="img">
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>